<p class="info">Show Me Your Junk attempts to solve the problem of unwanted furniture going straight to the dump by listing any item you don't want here.<br>All items on this site are free and left as-is. <br>No more driving around hoping to find that perfect vintage couch. <br>No more calling the city to have them discard your now useless dresser. <br>Help keep your city clean and help the environment while gaining free stuff. What could be better. <br>So come on...show us your junk!</p>
<ul class="index">
	<div class="row">
		<% for(var i=0; i < posts.length; i++) { %>
			<div class="col-sm-6 col-md-3 set-height">
				<li class="posting"><a href="/posts/<%= posts[i].id %>"><%= posts[i].title %></a></li>
	    	<li class="smaller2"><a href="/posts/<%= posts[i].id %>"><img src="<%= posts[i].avatar_url %>"></a></li>
	    	<li>
	    		<% if (user) {%>
	      		<% if (posts[i].user.toString() === user._id.toString()) { %>
			    		<a href="/posts/<%= posts[i].id %>/edit" class="glyphicon glyphicon-pencil"></a>
							<div class ="glyphicon glyphicon-trash nodemon delete" id="<%= posts[i].id %>"></div>
						<% } %>
	        <% } %>
				</li>
	    </div>
		<% } %>
	</div>
</ul>

<script type="text/javascript">
  $('.nodemon').click(callDelete)

  function callDelete(){
    console.log(this.id)

    $.ajax({
      url: '/posts/' + this.id,
      type: 'DELETE',
      dataType: 'json',
      success: function(result) {
        location.reload()
      }
    })
  };
</script>