<ul>
	<li><b>Title: </b><%= post.title %></li>
	<li><b>Description </b><%= post.description %></li>
	<li><b>Location </b><%= post.location %></li>
	<li> <img src="<%= post.avatar_url %>"></li>
	<li><b>By: </b><%= post.user %></li>
</ul>
