<ul class="show-page">
  <li class="title"><%= post.title %></li>
  <li class="smaller"><img src="<%= post.avatar_url %>"></li>
  <li class="user"><%= post.description %></li>
  <li class="located-at"><b>Address: </b><%= post.location %></li>
  <li class="map">
    <style type="text/css">
      html, body { height: 100%; margin: auto; padding: 0; }
      #map { height: 300px; width: 300px; }
    </style>
    <body>
      <div id="map" class="img-rounded"></div>
      <script type="text/javascript">
        var map;
        function initMap() {
          map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 34.0500, lng: -118.2500},
            zoom: 8
          });
        var myLatlng = new google.maps.LatLng(<%= post.latitude %>, <%= post.longitude %>);

        var marker = new google.maps.Marker({
            position: myLatlng,
            title:"Hello World!"
        });

        // To add the marker to the map, call setMap();
        marker.setMap(map);
        }
      </script>
      <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwdebjx22N0teUSmlBmQaJJC_GOVZNPNE&callback=initMap">
      </script>
    </body>
  </li>
  <li>
    <div
      class="fb-like"
      data-share="true"
      data-width="200px"
      data-show-faces="true">
    </div>
  </li>
  <li>
    <div class="fb-comments" data-href="https://show-me-your-junk.herokuapp.com/posts/<%= post.id %>" data-numposts="5"></div>
  </li>
</ul>